body {
  background: url(../NewYear.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  color: white;
  font-size: 150px;
  font-family: "Oleo Script Swash Caps", cursive;
}
